#spotify-container {
  margin-top: 20px;
  text-align: center;
  color: #ddd;
}

#spotify-controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #1DB954;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#spotify-controls button:hover {
  background-color: #14833b;
}
